{% extends "base.html" %}

{% block title %}Список постов{% endblock title %}

{% block content %}
    <h1>Список постов сайта</h1> 
    
    {% if posts %}
        {% for post in posts  %}
            <div class="post-container" style="border: 1px solid black; margin-bottom: 10px; padding: 15px;">
                <h2>Заголовок поста: <a href="{% url 'post_detail' post.id %}">{{post.title}}</a></h2>
                <p>Текст поста: {{post.text}}</p>
                <small>Дата создания: {{post.created_at|date:"d.m.y H:i"}}</small>
            </div>
        {% endfor %}
    {% else%}
        <p>Постов нет</p>
    {% endif %}


{% endblock content %}




