{% extends "base.html" %}
{% load django_bootstrap5 %}


{% block title %} Профиль {% endblock title %}

{% block content %}
{% if user == request.user %}
    <h1> My profile</h1>
    <p>Добро пожаловать, {{ user.username }}!</p>
{% else %}
    <h1>Профиль пользователя {{ user.username }}</h1>
{% endif %}
    {% if posts %}
    <h2>Посты пользователя</h2>
    <ul class="list-group">
        {% for post in posts %}
            {%if user == request.user or post.status != 'draft' %}
                {% include "blog/includes/post_conteiner_include.html" %}
            {% endif %}
        {% endfor %}
    </ul>
    {% else %} 
    <p>Пользователь не создал ни одного поста.</p>
    {% endif %}
        
{% endblock content %}



