{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'css/core.css' %}"> 
    {% bootstrap_css %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/bs/bootstrap.min.css' %}">{% endcomment %}
    
</head>
<body>
    <header> 
        <nav>
            <a href="{% url 'post_list' %}">Список постов</a>
            <a href="{% url 'post_add' %}">Cоздать пост</a>
        </nav>
    </header>
    
    <main> {% block content %}{% endblock  %} </main>
    

    <footer> &copy; Все права защищены 2025</footer>

    {% comment %} <script src="{% static 'js/bs/bootstrap.bundle.min.js' %}"></script> {% endcomment %}
    <script src="{% static 'js/core.js' %}"></script>     
    {% bootstrap_javascript %}
</body>
</html>