{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
</head>
<body>
    <header> шапка </header>

    <main> {% block content %}{% endblock  %} </main>

    <footer> &copy; Все права защищены 2025</footer>

    {% comment %} <script src="{% static 'js/core.js' %}"></script> {% endcomment %}
</body>
</html>